*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



img{
    display: grid;
}

.opciones-productos{
    margin: auto;
    padding: auto;
    font-size: 4vh;
    font-family: menuFont;
    color: #E6A4B4;
    text-align: center;

}

#titulo-principal{
    font-size: 4vh;
    text-align: center;
    font-family: menuFont;
    color:#E6A4B4;
    text-decoration: underline;
}

.productos{
    background-color: #F5EEE6;
    border: 5px #F5EEE6;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

#opcion-pastel{
    display: grid;
    justify-content: space-around;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.foto-pastel img{
    display: flex;
    padding: auto;
    margin: auto;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    height: 15rem;
}

.descripcion-producto{
    padding: 10px;
    text-align: center;
    margin: auto;
}

.texto-productos{
    text-align: center;
}

.precio{
    background-color: #E6A4B4;
    color: black;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 8px;
}

#ubicacion{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.descripcion-ubicacion{
    font-family: redessocialesFont;
    font-size: 3vh;
    text-align: center;
}

#logo{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}

#texto-ubicacion{
    margin: 10px;
    padding: 10px;
}

#mapa{
    margin: 10px;
    padding: 10px;
}

.mapa{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.mapa iframe{
    border: 2px solid black;
    left:20px;
    top:20px;
    height:100%;
    width:100%;
}
 
a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 
a:hover { 
    text-decoration: none; 
  } 
a:active { 
    text-decoration: none; 
  }




  @font-face {
    font-family: menuFont;
    src: url(/anapasteleria/fonts/PoetsenOne-Regular.ttf);
  }
  
  @font-face {
    font-family: redessocialesFont;
    src: url(/anapasteleria/fonts/UbuntuSans.ttf);
  }

  @font-face {
    font-family: qaFont;
    src: url(/anapasteleria/fonts/Borel-Regular.ttf);
  }
  
.p-qa{
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    font-family: menuFont;
    font-size: 60px;
    color:#E6A4B4;
    width: 100%;
    justify-content: center;
}



#container-qa {
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 3vh;
    text-align: left;
  }
  




.icon-qa{
    list-style-image: url(/anapasteleria/images/lista.png);
    width: 5vh;
    height: 5vh;
 }

 #imagenes-sobrenosotros{
    display: flex;
    justify-content: center;
    background-color: #F5EEE6 ;
    padding: 5px;
    margin: 30px;
    border-radius: 15px;
    flex-wrap: wrap;
 }

 .imagen-sobrenosotros{
    display: block;
    padding: 15px;
    margin: 10px;
    min-width: 250px;


 }

 #descripcion-sobrenosotros{
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
    font-family: redessocialesFont;
}

#titulo-sobrenosotros{
    font-size: 50px;
    font-family: menuFont;
    color: #E6A4B4 ;
}

.formulario{
    font-size: 30px;
    font-family: redessocialesFont;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#articulo{
    display: flex;
    padding: 5vh;
    flex-direction: column;
    font-size: 15px;
    font-family: redessocialesFont;
    justify-content: space-around;
    
}

.sugerencia{
    display: flex;
    justify-content: left;
    align-content:start;
    justify-content: space-around;
}

.in_fields{
    width: 30vh;
    height: 3vh;
}

.sug_fields{
    width: 30vh;
    height: 10vh;
}


#contact_p{
    font-family: redessocialesFont;
    font-size: 20px;
}



@media screen and (min-width: 0px) and (max-width: 480px){
    body{
        background-color: #F3D7CA ;
        width: 100%;
    }

    nav{
        margin: auto;
        background: #E6A4B4 ;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    header{
        display: grid;
        background-image: url("/anapasteleria/images/fondo.jpg");
        opacity: 0.5;
        width: auto%;
        height: auto;
        margin: auto;
        padding: auto;
        justify-content: center;
    }
    
    footer{
        display: flex;
        width: 100%;
        height: 50%;
        margin: auto;
        background-color: #E6A4B4;
        padding: 0;
        justify-content:left;
        flex-direction: column;
    }
    
    .box-footer{
        padding: 0;
        display: flex;
        justify-content: left;
        align-items:flex-start;
        margin: initial;
        font-family: redessocialesFont;
    }

    .opcion-pastel {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        gap: 15px;
    
    }

    .productos{
        margin: 0;
        display: flex;
        flex-direction: column;
        
    }

    .descripcion-producto{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .texto-productos{
        flex-grow: 1;
    }

    .opcion_menu{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: menuFont;
        font-weight: bold;
        font-size: 2vh;
        text-align: center;
        border: 2px solid white;
    }

    
}

@media screen and (min-width: 481px) and (max-width: 768px){
    body{
        background-color: #F3D7CA ;
        width: 100%;
    }

    nav{
        margin: auto;
        padding: 1,5%;
        background: #E6A4B4 ;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    header{
        display: flex;
        background-image: url("/anapasteleria/images/fondo.jpg") ;
        opacity: 0.5;
        width: 100%;
        height: 20vh;
        margin: auto;
        padding: auto;
        justify-content: center;
    }

    footer{
        display: flex;
        width: 100%;
        height: 30vw;
        margin: auto;
        background-color: #E6A4B4;
        padding: 0;
        justify-content:left;
        flex-direction: column;
    }

    .box-footer{
        padding: 0;
        display: flex;
        justify-content: left;
        align-items:flex-start;
        margin: initial;
        font-family: redessocialesFont;
    }

    .opcion-pastel {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        gap: 15px;
    
    }

    .productos{
        margin: 0;
        display: flex;
        flex-direction: column;
        
    }

    .descripcion-producto{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .texto-productos{
        flex-grow: 1;
    }

    .opcion_menu{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: menuFont;
        font-weight: bold;
        font-size: 2vh;
        text-align: center;
        border: 2px solid white;
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px){
    body{
        background-color: #F3D7CA ;
        width: 100%;
    }

    nav{
        margin: auto;
        padding: 1,5%;
        background: #E6A4B4 ;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    header{
        display: flex;
        background-image: url("/anapasteleria/images/fondo.jpg") ;
        opacity: 0.5;
        width: 100%;
        height: 20vh;
        margin: auto;
        padding: auto;
        justify-content: center;
    }

    footer{
        display: flex;
        width: 100%;
        height: 10vw;
        margin: auto;
        background-color: #E6A4B4;
        padding: 0;
        justify-content:space-around;
        flex-direction: row;
    }

    .box-footer{
        padding: 0;
        display: flex;
        justify-content:space-around;
        align-items:center;
        margin: auto;
        font-family: redessocialesFont;
    }

    .opcion-pastel {
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        gap: 15px;
    
    }

    .productos{
        margin: 0;
        display: flex;
        flex-direction: column;
        
    }

    .descripcion-producto{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .texto-productos{
        flex-grow: 1;
    }

    .opcion_menu{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: menuFont;
        font-weight: bold;
        font-size: 2vh;
        text-align: center;
        border: 2px solid white;
    }
}

@media screen and (min-width: 1280px){
    body{
        background-color: #F3D7CA ;
        width: 100%;
    }

    nav{
        margin: auto;
        padding: 1,5%;
        background: #E6A4B4 ;
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    header{
        display: flex;
        background-image: url("/anapasteleria/images/fondo.jpg") ;
        opacity: 0.5;
        width: 100%;
        height: 20vh;
        margin: auto;
        padding: auto;
        justify-content: center;
    }

    footer{
        display: flex;
        width: 100%;
        height: 10vw;
        margin: auto;
        background-color: #E6A4B4;
        padding: 0;
        justify-content:space-around;
        flex-direction: row;
    }

    .box-footer{
        padding: 0;
        display: flex;
        justify-content:space-around;
        align-items:center;
        margin: auto;
        font-family: redessocialesFont;
    }

    .opcion_menu{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        font-family: menuFont;
        font-weight: bold;
        font-size: 2vh;
        text-align: center;
        border: 2px solid white;
    }
}

.box-list2 {
    display: flex;
    font-family: qaFont;
    flex-direction: row;
    margin-left: 90px;
    margin-top: 0;
    width: auto;
    text-align: left;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.box-list1 {
    display: flex;
    flex-direction: row;
    margin: 0px;
    width: auto;
    text-align: left;
    align-items: end;
    font-family: qaFont;
    font-size: 25px;
  }