*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FBF3D5 ;
}

header{
    background-color: #EFBC9B;
}

nav{
    background-color: #D6DAC8;
}

footer{
    width: 100%;
    height: 15vh;
    margin: auto;
    background-color: #9CAFAA;
    font-size: 25px;
    font-size: arial;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
