*{
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #FBF3D5 ;
    width: 100%;
    
}

.cuerpo{
    display: flex;
    width: 100%;
    height: 1360px;
}

header{
    background-image: url("/anapasteleria/images/fondo.jpg") ;
    opacity: 0.5;
    width: 100%;
    height: 15vh;
    margin: auto;
}

nav{
    margin: auto;
    padding: 1,5%;
    background-color: #9CAFAA;
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

footer{
    display: flex;
    width: 100%;
    height: 25vh;
    margin: auto;
    background-color: #9CAFAA;
}

.container-footer{
    background-color: #9CAFAA;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}

.container-qa{
    padding: 5px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 70vh;
}

ul{
    list-style-image: url(/anapasteleria/images/lista.jpg);
    list-style-position: inside;
    border-style: solid;
    background: #fbf3d5e0;
    display: flexbox;
    padding: 0;
    transform: scale(0.1);
    justify-items: flex-start;
}

li{
    display: flex;
    padding: 0;
    flex-direction: column;
    height: 5vh;
    width: 100%;

}

.box-footer{
    background-color: #9CAFAA;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    font-family: redessocialesFont;
}

.box-list{
    display: flex;
    flex-direction: row;
    margin: 0;
    font-family: redessocialesFont;
    font-size: 15vh;
    padding: 0;
    align-items: flex-start;
    width: 100%;
    height: 20vh;
}



#logo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    padding: 1.5%;
}

.opcion_menu{
    font-family: menuFont;
    font-weight: bold;
    font-size: 3vh;
    color: white;
}

.mapa{
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.mapa iframe{
    border: 2px solid black;
    left:20px;
    top:20px;
    height:100%;
    width:100%;
}
 
a:link { 
    text-decoration: none; 
  } 
a:visited { 
    text-decoration: none; 
  } 
a:hover { 
    text-decoration: none; 
  } 
a:active { 
    text-decoration: none; 
  }




  @font-face {
    font-family: menuFont;
    src: url(/anapasteleria/fonts/PoetsenOne-Regular.ttf);
  }
  
  @font-face {
    font-family: redessocialesFont;
    src: url(/anapasteleria/fonts/UbuntuSans.ttf);
  }


  